.login-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-input-field {
  list-style: none;
  padding-left: 0px;
}

.login-input-field li input {
  width: 300px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
  padding-left: 25px;
}

.login-input-field li input:last-child {
  margin-top: 10px;
}

.login-submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-submit button {
  width: 120px;
  height: 50px;
  border: 1px solid black;
  border-radius: 25px;
}
