#pet1 {
    border: 1px solid black;
}

#pet2 {
    border: 1px dotted black;
    border-radius: 20px;
}

#pet3 {
    border: 1px solid black;
    /* border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; */
    border-radius: 20px 0px 20px 0px;
}
